<a href="https://colab.research.google.com/github/zelal-Eizaldeen/project2_Walmart_Price_Prediction/blob/main/project2_version2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
import statsmodels.api as sm
import patsy

from datetime import timedelta
import logging
import numpy as np
import pandas as pd
from time import time
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

References:

What We have tried 1: https://liangfgithub.github.io/Proj/F24_Proj2_hints_1_Python.html

What We have tried 2: https://liangfgithub.github.io/Proj/F24_Proj2_hints_2_Python.html

What we have learned 3: https://campuswire.com/c/GB46E5679/feed/457

performance target: 1580 or less; 1pt: above 1680

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
##Replace with your path to the Proj2_Data folder on GoogleColab
path_to_data='/content/drive/MyDrive/MastersDegree/CS598 PSL/Assignments/Projects/Project2/MyCode/Proj2_Data'
DATA_DIR ='/content/drive/MyDrive/MastersDegree/CS598 PSL/Assignments/Projects/Project2/MyCode/Proj2_Data'

In [4]:
# Configure logging
logging.basicConfig(
    filename=f'{DATA_DIR}/colab_log.log',
    level=logging.INFO,
    format='%(asctime)s - %(message)s',
    datefmt='%H:%M:%S'
)

# Suppress warnings
warnings.filterwarnings('ignore')

In [9]:
logging.info("Starting Walmart Price Prediction")

In [10]:
    """Train the model using SVD for smoothing."""
    start_time = time()
    num_folds = 10

In [11]:
i = 1

In [12]:
        fold_start = time()
        logging.info(f"Processing fold {i+1}/{num_folds}")
        test_pred = pd.DataFrame()

In [13]:
        # Read data for current fold
        train = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/train.csv')
        test = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/test.csv')

In [15]:
        # Convert dates to datetime
        train['Date'] = pd.to_datetime(train['Date'])
        test['Date'] = pd.to_datetime(test['Date'])

In [16]:
        # Extract week, year, and other useful features
        train['Wk'] = train['Date'].dt.isocalendar().week
        train['Yr'] = train['Date'].dt.year
        test['Wk'] = test['Date'].dt.isocalendar().week
        test['Yr'] = test['Date'].dt.year

        train = add_holiday_flags(train)
        test = add_holiday_flags(test)

In [24]:
train[train['Wk'] == 52]

,Store,Dept,Date,Weekly_Sales,IsHoliday,Wk,Yr,Is_SuperBowl,Is_Thanksgiving,Is_Christmas,Is_Pre_ChristmasEve,Is_After_Christmas
47,1,1,2010-12-31,19124.58,True,52,2010,0,0,1,0,1
112,1,2,2010-12-31,35819.83,True,52,2010,0,0,1,0,1
177,1,3,2010-12-31,8266.14,True,52,2010,0,0,1,0,1
242,1,4,2010-12-31,36913.80,True,52,2010,0,0,1,0,1
307,1,5,2010-12-31,32280.82,True,52,2010,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
190413,45,93,2010-12-31,2072.46,True,52,2010,0,0,1,0,1
190469,45,94,2010-12-31,3966.80,True,52,2010,0,0,1,0,1
190534,45,95,2010-12-31,43149.88,True,52,2010,0,0,1,0,1
190599,45,97,2010-12-31,5881.22,True,52,2010,0,0,1,0,1
190656,45,98,2010-12-31,74.55,True,52,2010,0,0,1,0,1

In [25]:
        # Sort by Store, Dept, and Date for lag feature creation
        train = train.sort_values(['Store', 'Dept', 'Date'])

In [27]:
        # Create lagged features
        train['Lag_1'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].shift(1)
        train['Lag_2'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].shift(2)
        train['Rolling_Mean_4'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(lambda x: x.rolling(4).mean())
        train.dropna(inplace=True)  # Drop rows with NaN lagged features

In [29]:
        departments = train['Dept'].unique()
        logging.info(f"Processing {len(departments)} departments for fold {i+1}")

In [30]:
        # Process each department
        for dept_idx, department in enumerate(departments, 1):
            if dept_idx % 5 == 0:  # Log every 5th department
                print(f"  Progress: {dept_idx}/{len(departments)} departments")

  Progress: 5/79 departments
  Progress: 10/79 departments
  Progress: 15/79 departments
  Progress: 20/79 departments
  Progress: 25/79 departments
  Progress: 30/79 departments
  Progress: 35/79 departments
  Progress: 40/79 departments
  Progress: 45/79 departments
  Progress: 50/79 departments
  Progress: 55/79 departments
  Progress: 60/79 departments
  Progress: 65/79 departments
  Progress: 70/79 departments
  Progress: 75/79 departments

In [31]:
department =1

In [37]:
            filtered_train = train[train['Dept'] == department]
            selected_columns = filtered_train[['Store',  'Date', 'Weekly_Sales']]

In [38]:
selected_columns

        Store       Date  Weekly_Sales
3           1 2010-02-26      19403.54
4           1 2010-03-05      21827.90
5           1 2010-03-12      21043.39
6           1 2010-03-19      22136.64
7           1 2010-03-26      26229.21
...       ...        ...           ...
186379     45 2011-04-01      15734.83
186380     45 2011-04-08      21535.31
186381     45 2011-04-15      27964.64
186382     45 2011-04-22      64121.38
186383     45 2011-04-29      38570.30

[2790 rows x 3 columns]

In [39]:
            # Create pivot table and perform SVD
            X_pivot = selected_columns.pivot(index='Store', columns='Date',
                                          values='Weekly_Sales').fillna(0)
            X_pivot

Date,2010-02-26,2010-03-05,2010-03-12,2010-03-19,2010-03-26,2010-04-02,2010-04-09,2010-04-16,2010-04-23,2010-04-30,...,2011-02-25,2011-03-04,2011-03-11,2011-03-18,2011-03-25,2011-04-01,2011-04-08,2011-04-15,2011-04-22,2011-04-29
Store,,,,,,,,,,,,,,,,,,,,,
1,19403.54,21827.90,21043.39,22136.64,26229.21,57258.43,42960.91,17596.96,16145.35,16555.11,...,19363.83,20327.61,21280.40,20334.23,20881.10,20398.09,23873.79,28762.37,50510.31,41512.39
2,25962.32,27372.05,28660.87,28446.92,32213.99,82766.07,66560.00,21308.59,22163.12,24066.20,...,22631.87,25562.33,26025.39,25405.55,23880.58,24591.68,28223.45,34644.85,72065.08,57905.55
3,4992.00,5172.73,5540.28,5118.12,6620.12,16399.01,8316.05,4061.89,4417.17,4159.25,...,4896.15,6673.83,6440.67,5850.92,6692.63,6389.96,6885.58,9203.25,15862.38,9410.55
4,30107.54,31580.69,29452.49,30853.27,33401.19,75535.18,56416.66,27744.54,23961.80,25076.00,...,26289.28,26562.46,31284.95,32981.01,32193.44,33809.56,36416.80,44011.29,83445.89,50759.95
5,7168.41,8344.13,7531.45,8719.27,9945.67,21113.02,15310.29,6815.91,7178.81,7582.13,...,9676.42,8743.51,8702.11,8615.19,8809.64,9287.00,9381.66,12239.56,18238.83,12830.22
6,19896.08,22839.36,24071.96,26866.90,28291.37,62544.57,44695.23,20110.25,19254.91,18597.43,...,16088.17,16806.47,18631.32,20208.62,18217.57,21313.31,23306.19,26876.39,54711.64,41404.80
7,8602.73,9541.12,9538.70,11725.85,11452.69,20518.44,13658.16,6891.66,5903.69,6584.55,...,8532.36,8563.14,8719.24,9231.70,8861.84,8263.41,8459.93,8560.97,15486.48,12575.17
8,11722.71,12979.74,12305.83,12520.30,15764.25,36979.10,25305.29,10141.01,9827.30,10534.42,...,12309.14,13304.63,13454.88,13328.59,13420.29,13644.98,15975.88,18562.34,33591.13,22609.44
9,10530.98,10438.47,11004.74,9813.87,11402.28,24205.64,13421.94,8926.10,8462.08,8723.98,...,8805.35,9177.05,9588.53,9387.59,9909.43,10393.72,11515.04,13693.33,24940.66,17649.37
10,33601.22,36572.44,36380.70,38252.33,51956.73,131853.01,89207.79,29765.85,27082.12,27592.84,...,27273.94,30345.61,29924.64,30524.73,31323.47,31697.55,39469.63,51526.31,113431.75,89938.67
11,14342.11,16181.87,17196.89,17434.44,19715.75,54900.47,38869.15,12637.95,13019.65,12139.25,...,11995.69,12476.52,13314.11,13758.37,13388.31,15288.07,17854.38,20189.53,49498.90,39329.17
12,14942.21,17098.49,15535.51,15038.34,17477.41,43175.19,42083.31,12024.35,12979.34,12385.97,...,13261.69,15065.62,14361.21,14205.71,14806.91,15145.09,15928.24,20872.07,37816.36,43414.94
13,31574.04,34505.07,41709.47,49711.13,60176.08,139870.90,70174.14,26122.80,27434.49,27969.13,...,29638.91,29354.57,35904.82,38123.39,42999.20,47277.10,51889.98,67188.78,154137.88,98796.32
14,21433.52,26460.12,32663.77,38671.81,52458.18,148029.47,74278.88,19884.05,17282.65,16921.32,...,17612.30,20609.28,22614.46,26434.95,28089.35,32014.12,41257.36,55056.20,133744.51,58740.65
15,9236.15,10900.64,11113.97,11997.09,17250.52,49610.90,31548.24,9646.55,9580.40,9568.83,...,9484.70,12030.55,11422.76,11930.72,11136.58,12379.08,15783.57,22310.73,45739.44,24599.30
16,11182.72,10996.97,11749.30,13692.46,13304.21,21239.35,14037.66,9101.12,8065.59,8625.82,...,9512.10,10052.68,10654.86,11404.01,11173.77,11205.38,11824.84,12709.45,15159.85,14084.96
17,16343.01,17728.27,16670.61,18413.71,28369.90,63964.65,32836.67,10860.72,12333.99,13569.07,...,16623.52,17424.63,18073.43,18682.78,19188.61,22376.56,23656.84,27213.81,63945.12,36155.83
18,16951.62,19966.98,20363.22,21332.16,29407.82,88055.13,53624.20,18711.86,14745.75,14881.23,...,14607.72,16434.97,18299.55,17197.32,18370.30,19429.11,27085.77,33816.96,74571.20,43876.08
19,15770.97,18293.70,20528.74,20857.82,31624.16,81550.15,56709.98,14418.91,12696.90,12272.40,...,13501.31,16018.72,17550.79,15666.34,16561.65,18559.78,25929.30,33482.04,77069.25,54119.83
20,36805.42,41206.78,47291.77,52993.00,61598.76,149743.97,72907.28,28442.72,26674.31,29921.48,...,26356.65,33533.50,35287.24,37763.73,37821.15,42700.12,55117.78,69607.88,143220.96,66742.11
21,12887.75,11969.74,13856.38,13768.83,16156.06,32659.91,26713.86,11624.05,11594.39,11334.10,...,11421.42,13035.95,13408.91,13161.00,12933.12,12625.90,13939.33,16415.80,30200.84,24533.54
22,14843.93,19011.63,21126.03,23574.08,34691.94,91631.47,37028.52,12588.49,11854.85,12283.37,...,13444.12,14710.69,14707.18,18694.93,22164.89,22672.56,28766.08,41207.37,86365.58,40980.93
23,23033.73,29662.30,33445.02,32835.67,42763.12,112577.06,35152.11,21808.82,22586.32,21999.42,...,21667.28,24331.71,21008.97,24772.35,24107.49,26797.13,37220.41,51884.37,104542.27,44779.08
24,12892.24,17968.64,17670.43,19014.60,23700.36,68048.67,42921.78,11278.39,11263.39,12390.77,...,13713.65,13840.65,15131.60,14831.58,15951.83,17314.00,21035.33,23854.77,64206.84,37903.56
25,16994.59,19323.31,19216.51,20786.77,27648.75,58125.23,28852.78,13379.95,13850.49,14100.81,...,14392.59,17386.22,16041.87,16933.55,19249.28,20034.94,23107.47,31414.13,60900.48,28391.24
26,19051.04,21547.63,20613.23,20732.08,22818.92,44783.32,32979.09,18345.59,17291.26,16506.01,...,13496.03,16173.97,15488.99,16308.78,15855.92,16474.46,19892.67,19524.18,34187.00,25595.93
27,17493.55,17758.17,27657.02,28397.34,42544.71,93213.63,59242.38,21097.91,19000.06,19525.47,...,21422.56,21337.13,23769.89,24222.59,25065.84,26636.46,33828.82,40634.83,83560.31,44656.00
28,21378.38,21078.92,17840.95,17976.97,22356.19,51102.17,48220.34,14427.29,14235.69,13696.03,...,14803.35,20265.94,17793.00,16573.79,16339.92,18247.31,21208.95,25670.50,43709.32,45391.98
29,11489.09,14805.98,14110.56,16871.82,20522.53,48921.67,26949.49,10053.94,10104.67,10908.72,...,11565.60,13355.19,12985.94,12801.66,14556.68,14103.24,17635.63,23340.90,47892.27,29953.17
30,10099.28,9719.90,10560.49,9771.21,11678.69,13723.71,13070.12,9401.71,9563.17,9503.51,...,8750.24,9437.01,8513.00,9607.86,9121.24,9804.55,9913.45,9653.13,13718.13,15052.75
31,14869.90,15084.71,16365.60,16110.52,16990.95,32735.40,31830.41,14099.84,14238.04,13730.81,...,13681.59,15005.69,15406.53,15502.68,13820.61,15107.04,17554.47,19393.07,33931.56,28042.81
32,18008.32,19313.36,21152.19,20833.12,24200.55,51765.22,32873.37,15476.03,14745.91,16014.94,...,16729.66,17927.64,20839.27,19961.40,19545.90,18743.61,21832.12,28001.07,52196.41,33175.28
33,1048.70,1196.24,1288.40,1123.05,1077.68,1403.55,2192.39,1180.77,912.81,1384.13,...,1890.92,2209.00,2509.36,2548.55,2412.54,2226.21,2870.68,2878.83,4435.91,5474.02
34,15768.00,17335.02,17034.09,16051.67,18604.09,38240.42,28757.99,15370.39,13474.99,13230.60,...,15232.59,17440.57,17314.76,19529.12,16427.95,17573.84,17849.52,21427.20,39240.73,27553.33
35,16313.76,20670.93,19854.36,20871.75,24925.29,57393.62,28909.17,15274.03,16086.77,16069.84,...,12634.31,14932.06,14442.50,13352.23,13155.52,13887.83,16731.93,18273.50,39134.26,23121.22
36,1451.39,1510.25,1821.07,1494.74,1664.27,2194.08,2375.91,1512.53,1295.67,1501.74,...,2103.40,2194.02,2370.31,2420.25,2162.60,2064.56,2490.91,3828.15,3624.59,3097.63
37,9256.03,9766.32,9574.95,9067.36,10584.22,16181.40,11873.31,8271.23,8993.65,8824.56,...,10383.54,9928.79,9874.56,8708.26,9880.51,9711.35,10600.27,12369.54,15811.85,13450.50
38,5951.54,6485.19,6659.07,6269.00,6535.76,8501.85,7413.10,5394.43,5517.56,5784.12,...,5208.86,6635.16,6305.60,5528.50,5210.84,5839.51,7262.03,7141.08,7723.64,8376.12
39,14011.39,14875.08,16830.74,18102.47,23789.42,58728.61,31410.11,11840.19,12822.98,13029.27,...,14072.17,14677.98,14947.34,14853.55,15194.03,16379.00,18917.35,23271.95,62115.26,37114.74
40,14728.82,18494.41,17878.59,18196.17,20505.33,44018.34,27537.15,14172.19,13109.49,13263.01,...,13941.43,16201.53,15207.00,16400.52,17119.69,17347.34,21474.02,23192.04,40977.22,28808.88
41,12816.16,15154.51,16860.66,16921.26,22552.51,49917.32,25093.86,12053.76,13293.34,13990.12,...,15422.61,18621.77,18826.54,17802.66,18902.02,22674.33,24691.11,26445.44,51366.18,29177.64
42,9303.34,10244.26,10982.32,10521.52,10681.01,15799.22,16035.28,9189.29,10061.46,9214.91,...,9109.41,9319.25,9261.21,9568.66,9561.20,9304.03,11763.04,13234.04,16885.84,15939.08
43,6460.56,6939.08,7281.64,7319.59,6552.64,14411.74,10019.06,6514.27,6830.55,6249.87,...,6078.30,6446.77,6554.22,6214.84,5047.40,6218.97,6780.43,8448.06,10800.80,8852.07
44,6014.71,6120.60,6231.58,6547.11,7908.38,10124.62,5981.69,5527.88,5232.03,6201.20,...,5932.87,6829.47,7190.59,7421.99,7614.27,7479.43,8680.11,10814.44,13051.55,9661.14
45,14656.08,16608.87,17621.39,18932.34,25610.76,66437.66,42591.72,14622.96,11327.93,11692.26,...,13886.57,12742.80,12294.99,14587.49,16190.45,15734.83,21535.31,27964.64,64121.38,38570.30

In [40]:
            # this is actually Y centered
            X_matrix = X_pivot.values
            store_mean = X_matrix.mean(axis=1, keepdims=True)
            X_centered = X_matrix - store_mean
            X_centered

array([[-4089.66483871, -1665.30483871, -2449.81483871, ...,
         5269.16516129, 27017.10516129, 18019.18516129],
       [-6176.28516129, -4766.55516129, -3477.73516129, ...,
         2506.24483871, 39926.47483871, 25766.94483871],
       [-1638.19241935, -1457.46241935, -1089.91241935, ...,
         2573.05758065,  9232.18758065,  2780.35758065],
       ...,
       [-1142.32903226,  -663.80903226,  -321.24903226, ...,
          845.17096774,  3197.91096774,  1249.18096774],
       [-1527.82516129, -1421.93516129, -1310.95516129, ...,
         3271.90483871,  5509.01483871,  2118.60483871],
       [-4462.66016129, -2509.87016129, -1497.35016129, ...,
         8845.89983871, 45002.63983871, 19451.55983871]])

In [41]:
            # SVD computation
            U, D, Vt = np.linalg.svd(X_centered, full_matrices=False)

In [42]:
D

array([635902.1455027 ,  96828.84336782,  77526.83962678,  59075.79428377,
        38561.63149644,  34127.9271799 ,  30771.40126418,  24537.8325245 ,
        22832.82855343,  20015.39441071,  17881.08372837,  17131.16242178,
        16117.92915673,  13975.11816924,  12907.08093431,  12519.56933338,
        11165.51323949,  10504.40050258,   8828.15431786,   8727.80356016,
         8062.85177376,   7271.44103029,   6371.02834402,   6203.03652129,
         6077.78360351,   5688.59191941,   4975.05099892,   4728.25177848,
         4631.29535131,   4313.68219149,   3760.70812613,   3530.28878454,
         3302.93525242,   2985.38579738,   2856.69777565,   2676.97117877,
         2498.2434925 ,   2279.9992044 ,   2078.59967306,   1830.6548106 ,
         1645.15371049,   1319.88759448,   1218.22370252,    951.30706139,
          752.90707387])

In [43]:
            n_comp = 8
            D_tilda = np.zeros_like(D)
            D_tilda

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [44]:
            D_tilda[:n_comp] = D[:n_comp]
            D_tilda

array([635902.1455027 ,  96828.84336782,  77526.83962678,  59075.79428377,
        38561.63149644,  34127.9271799 ,  30771.40126418,  24537.8325245 ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ,      0.        ,      0.        ,      0.        ,
            0.        ])

In [45]:
            X_tilda = U[:, :n_comp] @ np.diag(D_tilda[:n_comp]) @ Vt[:n_comp, :]

In [46]:
            X_smoothed = X_tilda + store_mean

In [47]:
            # Convert back to DataFrame
            X_smoothed_df = pd.DataFrame(X_smoothed, index=X_pivot.index,
                                       columns=X_pivot.columns).reset_index()

            X_original_format = X_smoothed_df.melt(id_vars=['Store'],
                                                 var_name='Date',
                                                 value_name='Weekly_Sales')

In [48]:
X_original_format

      Store                 Date  Weekly_Sales
0         1  2010-02-26 00:00:00  19587.122007
1         2  2010-02-26 00:00:00  25839.241900
2         3  2010-02-26 00:00:00   5394.322360
3         4  2010-02-26 00:00:00  27625.520005
4         5  2010-02-26 00:00:00   8472.423889
...     ...                  ...           ...
2785     41  2011-04-29 00:00:00  30328.162581
2786     42  2011-04-29 00:00:00  15347.457488
2787     43  2011-04-29 00:00:00   7884.735744
2788     44  2011-04-29 00:00:00   7973.287073
2789     45  2011-04-29 00:00:00  41544.091655

[2790 rows x 3 columns]

In [49]:
null_values = X_original_format.isnull().sum()

In [50]:
            X_original_format['Dept'] = department
            X_original_format = X_original_format.sort_values(
                by=['Store', 'Date']).reset_index(drop=True)

In [51]:
X_original_format

      Store                 Date  Weekly_Sales  Dept
0         1  2010-02-26 00:00:00  19587.122007     1
1         1  2010-03-05 00:00:00  21132.339446     1
2         1  2010-03-12 00:00:00  20553.874803     1
3         1  2010-03-19 00:00:00  21047.613069     1
4         1  2010-03-26 00:00:00  23756.959437     1
...     ...                  ...           ...   ...
2785     45  2011-04-01 00:00:00  16918.989380     1
2786     45  2011-04-08 00:00:00  21388.498547     1
2787     45  2011-04-15 00:00:00  27580.501707     1
2788     45  2011-04-22 00:00:00  61870.054080     1
2789     45  2011-04-29 00:00:00  41544.091655     1

[2790 rows x 4 columns]

In [53]:
            # Prepare train-test pairs
            train_pairs = X_original_format[['Store', 'Dept']].drop_duplicates(
                ignore_index=True)
            test_pairs = test[['Store', 'Dept']].drop_duplicates(ignore_index=True)
            unique_pairs = pd.merge(train_pairs, test_pairs,
                                  how='inner', on=['Store', 'Dept'])

In [54]:
            # Process training data
            train_split = unique_pairs.merge(train, on=['Store', 'Dept'], how='left')
            train_split = preprocess(train_split)

In [55]:
train_split

,Store,Dept,Date,Weekly_Sales,IsHoliday,Wk,Yr,Is_SuperBowl,Is_Thanksgiving,Is_Christmas,Is_Pre_ChristmasEve,Is_After_Christmas,Lag_1,Lag_2,Rolling_Mean_4,Yr2
0,1,1,2010-02-26,19403.54,0,8,2010,0,0,0,0,0,41595.55,46039.49,32990.7700,4040100
1,1,1,2010-03-05,21827.90,0,9,2010,0,0,0,0,0,19403.54,41595.55,32216.6200,4040100
2,1,1,2010-03-12,21043.39,0,10,2010,0,0,0,0,0,21827.90,19403.54,25967.5950,4040100
3,1,1,2010-03-19,22136.64,0,11,2010,0,0,0,0,0,21043.39,21827.90,21102.8675,4040100
4,1,1,2010-03-26,26229.21,0,12,2010,0,0,0,0,0,22136.64,21043.39,22809.2850,4040100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785,45,1,2011-04-01,15734.83,0,13,2011,0,0,0,0,0,16190.45,14587.49,14701.9400,4044121
2786,45,1,2011-04-08,21535.31,0,14,2011,0,0,0,0,0,15734.83,16190.45,17012.0200,4044121
2787,45,1,2011-04-15,27964.64,0,15,2011,0,0,0,0,0,21535.31,15734.83,20356.3075,4044121
2788,45,1,2011-04-22,64121.38,0,16,2011,0,0,0,0,0,27964.64,21535.31,32339.0400,4044121
2789,45,1,2011-04-29,38570.30,0,17,2011,0,0,0,0,0,64121.38,27964.64,38047.9075,4044121

In [56]:
            # Create model matrices
            X = patsy.dmatrix('Weekly_Sales + Store + Dept  + IsHoliday+ Yr + Yr2 + Wk',
                              data = train_split,
                              return_type='dataframe')

In [57]:
X

,Intercept,Wk[T.2],Wk[T.3],Wk[T.4],Wk[T.5],Wk[T.6],Wk[T.7],Wk[T.8],Wk[T.9],Wk[T.10],...,Wk[T.49],Wk[T.50],Wk[T.51],Wk[T.52],Weekly_Sales,Store,Dept,IsHoliday,Yr,Yr2
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,19403.54,1.0,1.0,0.0,2010.0,4040100.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,21827.90,1.0,1.0,0.0,2010.0,4040100.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,21043.39,1.0,1.0,0.0,2010.0,4040100.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,22136.64,1.0,1.0,0.0,2010.0,4040100.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26229.21,1.0,1.0,0.0,2010.0,4040100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,15734.83,45.0,1.0,0.0,2011.0,4044121.0
2786,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,21535.31,45.0,1.0,0.0,2011.0,4044121.0
2787,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,27964.64,45.0,1.0,0.0,2011.0,4044121.0
2788,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,64121.38,45.0,1.0,0.0,2011.0,4044121.0
2789,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,38570.30,45.0,1.0,0.0,2011.0,4044121.0

In [58]:
            train_split = dict(tuple(X.groupby(['Store', 'Dept'])))

In [59]:
train_split

{(1.0,
  1.0):     Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 0         1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 1         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 2         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 3         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 4         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..        ...      ...      ...      ...      ...      ...      ...      ...
 57        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 58        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 59        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 60        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 61        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

     Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 0       0.0       0.0  ...       0.0       0.0       0.0       0.0
 1       1.0       0.0  ...       0.0       0.0       0.0       0.0
 2       0.0       1.0  ...       0.0       0.0       0.0       0.0
 3       0.0       0.0  ...       0.0       0.0       0.0       0.0
 4       0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..      ...       ...  ...       ...       ...       ...       ...
 57      0.0       0.0  ...       0.0       0.0       0.0       0.0
 58      0.0       0.0  ...       0.0       0.0       0.0       0.0
 59      0.0       0.0  ...       0.0       0.0       0.0       0.0
 60      0.0       0.0  ...       0.0       0.0       0.0       0.0
 61      0.0       0.0  ...       0.0       0.0       0.0       0.0

     Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 0       19403.54    1.0   1.0        0.0  2010.0  4040100.0
 1       21827.90    1.0   1.0        0.0  2010.0  4040100.0
 2       21043.39    1.0   1.0        0.0  2010.0  4040100.0
 3       22136.64    1.0   1.0        0.0  2010.0  4040100.0
 4       26229.21    1.0   1.0        0.0  2010.0  4040100.0
 ..           ...    ...   ...        ...     ...        ...
 57      20398.09    1.0   1.0        0.0  2011.0  4044121.0
 58      23873.79    1.0   1.0        0.0  2011.0  4044121.0
 59      28762.37    1.0   1.0        0.0  2011.0  4044121.0
 60      50510.31    1.0   1.0        0.0  2011.0  4044121.0
 61      41512.39    1.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (2.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 62         1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 63         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 64         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 65         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 66         1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 119        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 120        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 121        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 122        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 123        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 62       0.0       0.0  ...       0.0       0.0       0.0       0.0
 63       1.0       0.0  ...       0.0       0.0       0.0       0.0
 64       0.0       1.0  ...       0.0       0.0       0.0       0.0
 65       0.0       0.0  ...       0.0       0.0       0.0       0.0
 66       0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 119      0.0       0.0  ...       0.0       0.0       0.0       0.0
 120      0.0       0.0  ...       0.0       0.0       0.0       0.0
 121      0.0       0.0  ...       0.0       0.0       0.0       0.0
 122      0.0       0.0  ...       0.0       0.0       0.0       0.0
 123      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 62       25962.32    2.0   1.0        0.0  2010.0  4040100.0
 63       27372.05    2.0   1.0        0.0  2010.0  4040100.0
 64       28660.87    2.0   1.0        0.0  2010.0  4040100.0
 65       28446.92    2.0   1.0        0.0  2010.0  4040100.0
 66       32213.99    2.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 119      24591.68    2.0   1.0        0.0  2011.0  4044121.0
 120      28223.45    2.0   1.0        0.0  2011.0  4044121.0
 121      34644.85    2.0   1.0        0.0  2011.0  4044121.0
 122      72065.08    2.0   1.0        0.0  2011.0  4044121.0
 123      57905.55    2.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (3.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 124        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 125        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 126        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 127        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 128        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 181        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 182        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 183        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 184        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 185        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 124      0.0       0.0  ...       0.0       0.0       0.0       0.0
 125      1.0       0.0  ...       0.0       0.0       0.0       0.0
 126      0.0       1.0  ...       0.0       0.0       0.0       0.0
 127      0.0       0.0  ...       0.0       0.0       0.0       0.0
 128      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 181      0.0       0.0  ...       0.0       0.0       0.0       0.0
 182      0.0       0.0  ...       0.0       0.0       0.0       0.0
 183      0.0       0.0  ...       0.0       0.0       0.0       0.0
 184      0.0       0.0  ...       0.0       0.0       0.0       0.0
 185      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 124       4992.00    3.0   1.0        0.0  2010.0  4040100.0
 125       5172.73    3.0   1.0        0.0  2010.0  4040100.0
 126       5540.28    3.0   1.0        0.0  2010.0  4040100.0
 127       5118.12    3.0   1.0        0.0  2010.0  4040100.0
 128       6620.12    3.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 181       6389.96    3.0   1.0        0.0  2011.0  4044121.0
 182       6885.58    3.0   1.0        0.0  2011.0  4044121.0
 183       9203.25    3.0   1.0        0.0  2011.0  4044121.0
 184      15862.38    3.0   1.0        0.0  2011.0  4044121.0
 185       9410.55    3.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (4.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 186        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 187        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 188        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 189        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 190        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 243        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 244        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 245        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 246        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 247        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 186      0.0       0.0  ...       0.0       0.0       0.0       0.0
 187      1.0       0.0  ...       0.0       0.0       0.0       0.0
 188      0.0       1.0  ...       0.0       0.0       0.0       0.0
 189      0.0       0.0  ...       0.0       0.0       0.0       0.0
 190      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 243      0.0       0.0  ...       0.0       0.0       0.0       0.0
 244      0.0       0.0  ...       0.0       0.0       0.0       0.0
 245      0.0       0.0  ...       0.0       0.0       0.0       0.0
 246      0.0       0.0  ...       0.0       0.0       0.0       0.0
 247      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 186      30107.54    4.0   1.0        0.0  2010.0  4040100.0
 187      31580.69    4.0   1.0        0.0  2010.0  4040100.0
 188      29452.49    4.0   1.0        0.0  2010.0  4040100.0
 189      30853.27    4.0   1.0        0.0  2010.0  4040100.0
 190      33401.19    4.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 243      33809.56    4.0   1.0        0.0  2011.0  4044121.0
 244      36416.80    4.0   1.0        0.0  2011.0  4044121.0
 245      44011.29    4.0   1.0        0.0  2011.0  4044121.0
 246      83445.89    4.0   1.0        0.0  2011.0  4044121.0
 247      50759.95    4.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (5.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 248        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 249        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 250        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 251        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 252        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 305        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 306        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 307        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 308        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 309        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 248      0.0       0.0  ...       0.0       0.0       0.0       0.0
 249      1.0       0.0  ...       0.0       0.0       0.0       0.0
 250      0.0       1.0  ...       0.0       0.0       0.0       0.0
 251      0.0       0.0  ...       0.0       0.0       0.0       0.0
 252      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 305      0.0       0.0  ...       0.0       0.0       0.0       0.0
 306      0.0       0.0  ...       0.0       0.0       0.0       0.0
 307      0.0       0.0  ...       0.0       0.0       0.0       0.0
 308      0.0       0.0  ...       0.0       0.0       0.0       0.0
 309      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 248       7168.41    5.0   1.0        0.0  2010.0  4040100.0
 249       8344.13    5.0   1.0        0.0  2010.0  4040100.0
 250       7531.45    5.0   1.0        0.0  2010.0  4040100.0
 251       8719.27    5.0   1.0        0.0  2010.0  4040100.0
 252       9945.67    5.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 305       9287.00    5.0   1.0        0.0  2011.0  4044121.0
 306       9381.66    5.0   1.0        0.0  2011.0  4044121.0
 307      12239.56    5.0   1.0        0.0  2011.0  4044121.0
 308      18238.83    5.0   1.0        0.0  2011.0  4044121.0
 309      12830.22    5.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (6.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 310        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 311        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 312        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 313        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 314        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 367        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 368        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 369        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 370        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 371        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 310      0.0       0.0  ...       0.0       0.0       0.0       0.0
 311      1.0       0.0  ...       0.0       0.0       0.0       0.0
 312      0.0       1.0  ...       0.0       0.0       0.0       0.0
 313      0.0       0.0  ...       0.0       0.0       0.0       0.0
 314      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 367      0.0       0.0  ...       0.0       0.0       0.0       0.0
 368      0.0       0.0  ...       0.0       0.0       0.0       0.0
 369      0.0       0.0  ...       0.0       0.0       0.0       0.0
 370      0.0       0.0  ...       0.0       0.0       0.0       0.0
 371      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 310      19896.08    6.0   1.0        0.0  2010.0  4040100.0
 311      22839.36    6.0   1.0        0.0  2010.0  4040100.0
 312      24071.96    6.0   1.0        0.0  2010.0  4040100.0
 313      26866.90    6.0   1.0        0.0  2010.0  4040100.0
 314      28291.37    6.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 367      21313.31    6.0   1.0        0.0  2011.0  4044121.0
 368      23306.19    6.0   1.0        0.0  2011.0  4044121.0
 369      26876.39    6.0   1.0        0.0  2011.0  4044121.0
 370      54711.64    6.0   1.0        0.0  2011.0  4044121.0
 371      41404.80    6.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (7.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 372        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 373        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 374        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 375        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 376        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 429        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 430        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 431        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 432        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 433        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 372      0.0       0.0  ...       0.0       0.0       0.0       0.0
 373      1.0       0.0  ...       0.0       0.0       0.0       0.0
 374      0.0       1.0  ...       0.0       0.0       0.0       0.0
 375      0.0       0.0  ...       0.0       0.0       0.0       0.0
 376      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 429      0.0       0.0  ...       0.0       0.0       0.0       0.0
 430      0.0       0.0  ...       0.0       0.0       0.0       0.0
 431      0.0       0.0  ...       0.0       0.0       0.0       0.0
 432      0.0       0.0  ...       0.0       0.0       0.0       0.0
 433      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 372       8602.73    7.0   1.0        0.0  2010.0  4040100.0
 373       9541.12    7.0   1.0        0.0  2010.0  4040100.0
 374       9538.70    7.0   1.0        0.0  2010.0  4040100.0
 375      11725.85    7.0   1.0        0.0  2010.0  4040100.0
 376      11452.69    7.0   1.0        0.0  2010.0  4040100.0
 ..            ...    ...   ...        ...     ...        ...
 429       8263.41    7.0   1.0        0.0  2011.0  4044121.0
 430       8459.93    7.0   1.0        0.0  2011.0  4044121.0
 431       8560.97    7.0   1.0        0.0  2011.0  4044121.0
 432      15486.48    7.0   1.0        0.0  2011.0  4044121.0
 433      12575.17    7.0   1.0        0.0  2011.0  4044121.0

 [62 rows x 58 columns],
 (8.0,
  1.0):      Intercept  Wk[T.2]  Wk[T.3]  Wk[T.4]  Wk[T.5]  Wk[T.6]  Wk[T.7]  Wk[T.8]  \
 434        1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0
 435        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 436        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 437        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 438        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 ..         ...      ...      ...      ...      ...      ...      ...      ...
 491        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 492        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 493        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 494        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
 495        1.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

      Wk[T.9]  Wk[T.10]  ...  Wk[T.49]  Wk[T.50]  Wk[T.51]  Wk[T.52]  \
 434      0.0       0.0  ...       0.0       0.0       0.0       0.0
 435      1.0       0.0  ...       0.0       0.0       0.0       0.0
 436      0.0       1.0  ...       0.0       0.0       0.0       0.0
 437      0.0       0.0  ...       0.0       0.0       0.0       0.0
 438      0.0       0.0  ...       0.0       0.0       0.0       0.0
 ..       ...       ...  ...       ...       ...       ...       ...
 491      0.0       0.0  ...       0.0       0.0       0.0       0.0
 492      0.0       0.0  ...       0.0       0.0       0.0       0.0
 493      0.0       0.0  ...       0.0       0.0       0.0       0.0
 494      0.0       0.0  ...       0.0       0.0       0.0       0.0
 495      0.0       0.0  ...       0.0       0.0       0.0       0.0

      Weekly_Sales  Store  Dept  IsHoliday      Yr        Yr2
 434      11722.71    8.0   1.0        0.0  2010.0  4040100.0
 435      12979.74    8.0   1.0        0.0  2010.0  4040100.0
 436      12305.83    8.0   1.0        0.0  2010.0  4040100.0

In [5]:
# Feature Engineering
def preprocess(data):
    """Preprocess the data by handling missing values and creating time-based features."""
    data.fillna(0, inplace=True)
    tmp = pd.to_datetime(data['Date'])
    data['Wk'] = tmp.dt.isocalendar().week
    data['Yr'] = tmp.dt.year
    data['Yr2'] = data.Yr ** 2
    data['Wk'] = pd.Categorical(data['Wk'], categories=[i for i in range(1, 53)])
    data['IsHoliday'] = data['IsHoliday'].apply(int)
    return data

In [6]:
# Function to mark holiday weeks
def add_holiday_flags(df):
    df['Is_SuperBowl'] = (df['Wk'] == 6).astype(int)
    df['Is_Thanksgiving'] = (df['Wk'] == 47).astype(int)
    df['Is_Christmas'] = (df['Wk'] == 52).astype(int)

    df['Is_Pre_ChristmasEve'] = (
         ((df['Date'] >= pd.to_datetime('2010-12-23')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2010-12-23')))
        |((df['Date'] >= pd.to_datetime('2011-12-23')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2011-12-23')))
        |((df['Date'] >= pd.to_datetime('2012-12-23')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2012-12-23')))
                                ).astype(int)
    df['Is_After_Christmas'] = (
         ((df['Date'] >= pd.to_datetime('2010-12-26')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2010-12-26')))
        |((df['Date'] >= pd.to_datetime('2011-12-26')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2011-12-26')))
        |((df['Date'] >= pd.to_datetime('2012-12-26')) & (df['Date'] - pd.Timedelta(days=7) < pd.to_datetime('2012-12-26')))
                                ).astype(int)
    return df

In [7]:
def train_svd():
    """Train the model using SVD for smoothing."""
    start_time = time()
    num_folds = 10

    for i in range(num_folds):
        fold_start = time()
        logging.info(f"Processing fold {i+1}/{num_folds}")
        test_pred = pd.DataFrame()

        # Read data for current fold
        train = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/train.csv')
        test = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/test.csv')

                # Convert dates to datetime
        train['Date'] = pd.to_datetime(train['Date'])
        test['Date'] = pd.to_datetime(test['Date'])

        # Extract week, year, and other useful features
        train['Wk'] = train['Date'].dt.isocalendar().week
        train['Yr'] = train['Date'].dt.year
        test['Wk'] = test['Date'].dt.isocalendar().week
        test['Yr'] = test['Date'].dt.year

        train = add_holiday_flags(train)
        test = add_holiday_flags(test)

        # Sort by Store, Dept, and Date for lag feature creation
        train = train.sort_values(['Store', 'Dept', 'Date'])

        # Create lagged features
        train['Lag_1'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].shift(1)
        train['Lag_2'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].shift(2)
        train['Rolling_Mean_4'] = train.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(lambda x: x.rolling(4).mean())
        train.dropna(inplace=True)  # Drop rows with NaN lagged features


        departments = train['Dept'].unique()
        logging.info(f"Processing {len(departments)} departments for fold {i+1}")

        # Process each department
        for dept_idx, department in enumerate(departments, 1):
            if dept_idx % 5 == 0:  # Log every 5th department
                logging.info(f"  Progress: {dept_idx}/{len(departments)} departments")

            filtered_train = train[train['Dept'] == department]
            selected_columns = filtered_train[['Store', 'Date', 'Weekly_Sales']]

            # Create pivot table and perform SVD
            X_pivot = selected_columns.pivot(index='Store', columns='Date',
                                          values='Weekly_Sales').fillna(0)
            X_matrix = X_pivot.values
            store_mean = X_matrix.mean(axis=1, keepdims=True)
            X_centered = X_matrix - store_mean

            # SVD computation
            U, D, Vt = np.linalg.svd(X_centered, full_matrices=False)
            n_comp = 8
            D_tilda = np.zeros_like(D)
            D_tilda[:n_comp] = D[:n_comp]
            X_tilda = U[:, :n_comp] @ np.diag(D_tilda[:n_comp]) @ Vt[:n_comp, :]
            X_smoothed = X_tilda + store_mean


            # Convert back to DataFrame
            X_smoothed_df = pd.DataFrame(X_smoothed, index=X_pivot.index,
                                       columns=X_pivot.columns).reset_index()

            X_original_format = X_smoothed_df.melt(id_vars=['Store'],
                                                 var_name='Date',
                                                 value_name='Weekly_Sales')

            null_values = X_original_format.isnull().sum()

            X_original_format['Dept'] = department
            X_original_format = X_original_format.sort_values(
                by=['Store', 'Date']).reset_index(drop=True)



            # Prepare train-test pairs
            train_pairs = X_original_format[['Store', 'Dept']].drop_duplicates(
                ignore_index=True)
            test_pairs = test[['Store', 'Dept']].drop_duplicates(ignore_index=True)
            unique_pairs = pd.merge(train_pairs, test_pairs,
                                  how='inner', on=['Store', 'Dept'])

            # Process training data
            train_split = unique_pairs.merge(train, on=['Store', 'Dept'], how='left')
            train_split = preprocess(train_split)

            # Create model matrices
            X = patsy.dmatrix('Weekly_Sales + Store + Dept  + IsHoliday+ Yr + Yr2 + Wk + Is_Pre_ChristmasEve + Is_After_Christmas',
                              data = train_split,
                              return_type='dataframe')



            train_split = dict(tuple(X.groupby(['Store', 'Dept'])))

            # Process test data
            test_split = unique_pairs.merge(test, on=['Store', 'Dept'], how='left')
            test_split = preprocess(test_split)



            X = patsy.dmatrix('Store + Dept + IsHoliday +Yr + Yr2 + Wk + Is_Pre_ChristmasEve + Is_After_Christmas',
                                data = test_split,
                                return_type='dataframe')

            X['Date'] = test_split['Date']
            test_split = dict(tuple(X.groupby(['Store', 'Dept'])))
            keys = list(train_split)



            # Train and predict for each store-department combination
            for key in keys:
                X_train = train_split[key]
                X_test = test_split[key]

                Y = X_train['Weekly_Sales']
                X_train = X_train.drop(['Weekly_Sales','Store', 'Dept','IsHoliday'], axis=1)

                cols_to_drop = X_train.columns[(X_train == 0).all()]
                X_train = X_train.drop(columns=cols_to_drop)
                X_test = X_test.drop(columns=cols_to_drop)
                cols_to_drop = []
                for j in range(len(X_train.columns) - 1, 1, -1):  # Start from the last column and move backward
                    col_name = X_train.columns[j]
                    # Extract the current column and all previous columns
                    tmp_Y = X_train.iloc[:, j].values
                    tmp_X = X_train.iloc[:, :j].values

                    coefficients, residuals, rank, s = np.linalg.lstsq(tmp_X, tmp_Y, rcond=None)
                    if np.sum(residuals) < 1e-16:
                            cols_to_drop.append(col_name)
                X_train = X_train.drop(columns=cols_to_drop)
                X_test = X_test.drop(columns=cols_to_drop)

                model = sm.OLS(Y, X_train).fit()
                mycoef = model.params.fillna(0)

                # Make predictions
                tmp_pred = X_test[['Store', 'Dept', 'Date', 'IsHoliday']]
                X_test = X_test.drop(['Store', 'Dept', 'Date', 'IsHoliday'], axis=1, errors='ignore')

                tmp_pred['Weekly_Pred'] =  np.dot(X_test, mycoef)
                test_pred = pd.concat([test_pred, tmp_pred], ignore_index=True)

            test_pred['Weekly_Pred'].fillna(0, inplace=True)
            test_pred.to_csv(f'{DATA_DIR}/fold_{i+1}/mypred.csv', index=False)


                # Fit Gradient Boosting model
                # model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=0)
                # model.fit(X_train, Y)

        fold_time = time() - fold_start
        logging.info(f"Completed fold {i+1} in {fold_time:.1f} seconds")

    total_time = time() - start_time
    logging.info(f"Completed all folds in {total_time:.1f} seconds")

In [8]:
def evaluate():
    """Evaluate the model's predictions."""
    logging.info("Starting evaluation...")
    test_with_label = pd.read_csv(f'{DATA_DIR}/test_with_label.csv')
    num_folds = 10
    wae = []

    for i in range(num_folds):
        # Read test data and predictions
        test = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/test.csv')
        test = test.merge(test_with_label, on=['Date', 'Store', 'Dept'])
        test_pred = pd.read_csv(f'{DATA_DIR}/fold_{i+1}/mypred.csv')

        # Merge and calculate weighted absolute error
        new_test = test.merge(test_pred, on=['Date', 'Store', 'Dept'], how='left')
        actuals = new_test['Weekly_Sales'].fillna(0)
        preds = new_test['Weekly_Pred'].fillna(0)
        weights = new_test['IsHoliday_x'].apply(lambda x: 5 if x else 1)

        wae_score = sum(weights * abs(actuals - preds)) / sum(weights)
        wae.append(wae_score)
        logging.info(f"Fold {i+1} WAE: {wae_score:.3f}")

    avg_wae = sum(wae) / len(wae)
    logging.info(f"Average WAE across all folds: {avg_wae:.3f}")

    return wae

In [ ]:
logging.info("Model: adjustment: add two new variables: Is_Pre_ChristmasEve + Is_After_Christmas ")
def main():
    """Main function to run the Walmart price prediction model."""
    start_time = time()
    logging.info("Starting Walmart Price Prediction")

    logging.info("Training models with SVD smoothing...")
    train_svd()

    logging.info("Evaluating predictions...")
    wae = evaluate()

    total_time = time() - start_time
    logging.info(f"Processing complete! Total time: {total_time:.1f} seconds")

if __name__ == "__main__":
    main()

In [ ]:
with open('logfile.log', 'r') as file:
    log_contents = file.read()
    print(log_contents)  # This will print out the contents of 'logfile.log'